{% extends 'index.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
{% block content %}
    <h1>Профиль пользователя: {{ user.username }}</h1>

    <h2>Мои продукты:</h2>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>

    <h2>Уроки, связанные с моими продуктами:</h2>
    <ul>
        {% for lesson in lessons %}
            <li>{{ lesson.name }}- длительность {{lesson.duration_seconds}} </li>

        <li><a href="{% url 'view_lesson' lesson.id %}">Просмотреть урок "{{ lesson.name }}"</a></li>


        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
